# Environment Configuration
NODE_ENV=development
PORT=5000

# Local MongoDB (Default for local development)
MONGODB_URI=mongodb+srv://deviors:Hsejar420@cluster0.w5zdool.mongodb.net/isahara?retryWrites=true&w=majority&appName=Cluster0

# MongoDB Atlas Example (replace <db_password> with your database password):
# MONGODB_URI=mongodb+srv://deviors:Hsejar420@cluster0.w5zdool.mongodb.net/isahara?retryWrites=true&w=majority&appName=Cluster0

CLIENT_URL=http://localhost:3000

# Secret key known only to the founder to access /api/v1/admin/* routes
ADMIN_SECRET_KEY=isahara-admin-secret-2026
